# Example .env file for the API server
# If you want to add new variables, please do it in the format below
# <Your Variable Name>=<An explanation of the variable> 
# On the next iteration of pnpm run dev, the new variables picked up by the validate-env script will be added to the .env file
# You can add hints to the ENV_HINTS object in the validate-env script to help the user with the new variables

NEXT_PUBLIC_API_URL=<Your API URL>
NEXT_PUBLIC_TELEGRAM_BOT_NAME=<Your Telegram Bot Name without the @>